<div [class.disabled]="ride?.passengers?.length === ride?.maxPassengers" class="card-wrapper" (click)="viewRideDetails()">
    <div class="upper">
      <div class="path">
        <div class="start">
          <p>{{ride?.startTime | date: 'HH:mm'}}</p>
          <p>{{ride?.startingPoint}}</p>
        </div>
        <p>→</p>
        <div class="end">
          <p>{{ride?.endTime | date: 'HH:mm'}}</p>
          <p>{{ride?.destination}}</p>
        </div>
      </div>
      @if (ride?.passengers?.length !== ride?.maxPassengers) {
        <p>{{ride?.price?.toFixed(2)}}€</p>
      } @else {
        <p>The ride is full</p>
      }
    </div>
    <div class="lower">
      <img [src]="ride?.driver?.profilePicture" alt="User profile picture" height="60" width="60" class="profile-picture">
      <p>{{ride?.driver?.firstName}} {{ride?.driver?.lastName}}</p>
      @if (userRating) {
        <div class="user-rating">
          <p>{{userRating.toFixed(1)}}</p>
          <mat-icon>star</mat-icon>
        </div>
      }
    </div>
</div>
