@import "main_palette";
@import "helpers";

.dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-tabs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  font-size: pixel-to-rem(18);

  .tabs {
    display: flex;
    flex-direction: column;
    width: pixel-to-rem(300);
    font-size: pixel-to-rem(18);

    button {
      display: flex;
      align-items: center;
      padding: pixel-to-rem(10);
      gap: pixel-to-rem(5);
      border: none;
      background-color: transparent;
      cursor: pointer;
      text-align: left;
      border-radius: pixel-to-rem(20);
      transition: background-color 0.3s ease, transform 0.3s ease;
      font-size: pixel-to-rem(18);
      position: relative;
      z-index: 1;

      &:hover {
        background-color: #f0f0f0;
      }

      &.active {
        color: $primary-text;
        background-color: #e0f0ff;
        font-weight: bold;
        transform: translateX(4px);
      }
    }
  }

  .tab-content {
    flex-grow: 1;
    padding: pixel-to-rem(10);
    background-color: #fafafa;
    border-radius: pixel-to-rem(5);
    min-height: pixel-to-rem(300);

    .profile-picture {
      border-radius: pixel-to-rem(99);
    }
  }
}


