<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
  <div class="profile-tabs">
    <div class="tabs">
      <button (click)="template = tab1" [class.active]="template === tab1">Tab 1</button>
      <button (click)="template = tab2" [class.active]="template === tab2">Tab 2</button>
      <button (click)="template = tab3" [class.active]="template === tab3">Tab 3</button>
    </div>

    <div class="tab-content">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>

    <!-- Templates for each tab -->
    <ng-template #tab1>
      <p>Tab 1 content</p>
    </ng-template>
    <ng-template #tab2>
      <p>Tab 2 content</p>
    </ng-template>
    <ng-template #tab3>
      <p>Tab 3 content</p>
    </ng-template>
  </div>
</mat-dialog-content>
