<div class="page-container">
  <div class="right-ellipse"></div>
  <div class="login">
    <div class="logo">
      <img
        src="assets/images/website_logo.png"
        alt="Website logo"
        height="100"
        width="100"
      >
      <h2>YoYo Car</h2>
    </div>
    <div class="form-wrapper">
      <div class="form-container">
        <form class="login-form">
          <h3 class="login-title">Login to your account</h3>
          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Enter your email">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Enter your password">
            </mat-form-field>
          </div>

          <button type="submit" class="login-btn" matButton="filled" (click)="loginHandler()">Login now</button>
        </form>
        <button class="login-btn" matButton="filled" (click)="loginHandler()">Login now</button>
        <p class="register-link">Don't Have An Account?<a href="/auth/register" class="highlight-text">Sign Up</a></p>
      </div>
    </div>
  </div>
  <div class="left-ellipse"></div>
</div>
