<div class="page-container">
  <div class="right-ellipse"></div>
  <div class="login">
    <a
      href="/welcome"
      class="logo"
    >
      <img
        src="assets/images/website_logo.svg"
        alt="Website logo"
        height="90"
        width="90"
      >
      <h2>YoYo Car</h2>
    </a>
    <div class="form-wrapper">
      <div class="form-container">
        <form [formGroup]="loginForm" class="login-form">
          <h3 class="login-title">Login to your account</h3>
          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Enter your email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Enter your password" formControlName="password">
            </mat-form-field>
          </div>

          @if (errorMessage) {
            <div class="error-message">
              {{ errorMessage }}
            </div>
          }

          <div class="buttons">
            <button type="submit" class="login-btn" matButton="filled" (click)="loginHandler()" [disabled]="!loginForm.valid">Login now</button>
            <button type="button" matButton="outlined" (click)="loginWithGoogle()" aria-label="Continue with Google">
              <div class="google-btn-content">
                <img src="assets/icons/google-logo.svg" height="20" width="20" alt="Google icon" class="google-icon">
                <span>Continue with Google</span>
              </div>
            </button>
          </div>
        </form>
        <p class="register-link">Don't Have An Account?<a href="/auth/register" class="highlight-text">Sign Up</a></p>
      </div>
    </div>
  </div>
  <div class="left-ellipse"></div>
</div>
