@import "helpers";
@import "main_palette";

.post-ride-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;

  .post-ride-wrapper {
    height: 70%;
    width: 60%;

    .stepper {
      box-shadow: 0 0 pixel-to-rem(12) pixel-to-rem(2) rgba(0, 0, 0, 0.25);
      border-radius: $border-radius;
      height: 100%;

      .mat-horizontal-stepper-wrapper {
        height: 100%;
      }
    }

    mat-stepper {
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-top: pixel-to-rem(25);
    }

    .row {
      display: flex;
      justify-content: center;
      gap: pixel-to-rem(20);

      mat-form-field {
        width: 45%;
      }
    }

    .date-picker {
      width: 100%;
      justify-content: left;
      padding-left: pixel-to-rem(40);
    }
  }
}
