@import "main_palette";
@import "helpers";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: pixel-to-rem(40);
  border-bottom: pixel-to-rem(1) solid $border-primary;

  .home-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    .text {
      color: $primary-text;
      font-size: pixel-to-rem(29);
      font-weight: 700;
    }
  }

  .start {

  }

  .end {
    display: flex;
    align-items: center;
    gap: pixel-to-rem(12);

    a {
      padding: pixel-to-rem(22);
    }

    .about-us {
      text-decoration: none;
      color: $text-primary;
      margin-right: pixel-to-rem(4);
    }

    .paragraph-text {
      font-size: pixel-to-rem(18);
    }

    .profile-picture {
      border-radius: pixel-to-rem(99);
      margin-left: pixel-to-rem(20);
    }
  }
}
