@import "main_palette";
@import "helpers";

.footer {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: auto;
  padding-top: pixel-to-rem(80);
  min-height: pixel-to-rem(180);
  box-sizing: border-box;

  .info {
    display: flex;
    gap: pixel-to-rem(78);
    padding-left: pixel-to-rem(100);
    padding-right: pixel-to-rem(100);
  }

  .info-subsection {
    max-width: 25%;
  }

  .divider {
    margin-top: pixel-to-rem(50);
    margin-bottom: pixel-to-rem(30);
  }

  .paragraph-text {
    color: $text-tertiary;
  }

  .copyright {
    text-align: center;
    padding-bottom: pixel-to-rem(20);
  }

  .social-media {
    display: flex;
    flex-grow: 1;
    align-items: end;
    justify-content: end;
    gap: pixel-to-rem(20);
  }

  .circle-shadow {
    width: pixel-to-rem(60);
    height: pixel-to-rem(60);
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 pixel-to-rem(2) pixel-to-rem(8) rgba(0, 0, 0, 0.15);

    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      box-shadow: 0 pixel-to-rem(4) pixel-to-rem(16) rgba(0, 0, 0, 0.25);
      transform: translateY(-2px);
    }

    img {
      pointer-events: none;
    }
  }
}
