<div class="footer">
  <div class="info">
    <div class="info-subsection">
      LOGOIPSUM
      <p class="paragraph-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <p class="paragraph-text">&commat;Lorem</p>
    </div>
    <div class="info-subsection">
      <h3>About us</h3>
      <div>
        <p class="paragraph-text">Lorem</p>
        <p class="paragraph-text">Policy</p>
        <p class="paragraph-text">Contact us</p>
      </div>
    </div>
    <div class="info-subsection">
      <h3>Contact us</h3>
      <p class="paragraph-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <p class="paragraph-text">+908 89097 890</p>
    </div>
    <div class="social-media">
      <div class="circle-shadow">
        <img src="assets/icons/facebook-logo.svg" alt="Facebook logo" height="40" width="40">
      </div>
      <div class="circle-shadow">
        <img src="assets/icons/instagram-logo.svg" alt="Facebook logo" height="30" width="30">
      </div>
      <div class="circle-shadow">
        <img src="assets/icons/x-logo.svg" alt="Facebook logo" height="30" width="30">
      </div>
    </div>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="copyright">
    <p class="paragraph-text">Copyright ® 2025 Lorem All rights Reserved</p>
  </div>
</div>
