<div class="register">
  <div class="background">
    <div class="logo">
      <img
        src="/assets/images/website_logo.svg"
        alt="Website logo"
        height="90"
        width="90"
      >
      <h3>YoYo Car</h3>
    </div>
    <div class="welcome">
      Welcome to YoYo Car. Travelling made easy and convenient!
    </div>
    <div class="right-ellipse"></div>
    <div class="left-ellipse"></div>
  </div>
  <div class="register-container">
    <div class="form-wrapper">
      <h3 class="title">Create an account</h3>
      <form [formGroup]="registerForm" class="register-form">
        <div class="name">
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input
              matInput
              placeholder="Enter your first name"
              formControlName="firstName"
              name="firstName"
              required
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input
              matInput
              placeholder="Enter your last name"
              formControlName="lastName"
              name="lastName"
              required
            >
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Enter your email"
            formControlName="email"
            name="email"
            required
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Enter your password"
            formControlName="password"
            name="password"
            required
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Confirm password"
            formControlName="confirmPassword"
            required
            name="confirmPassword"
          >
        </mat-form-field>
        @if (registerForm.hasError('passwordMismatch')) {
            <mat-error>Passwords do not match</mat-error>
        }

        @if (errorMessage && registerForm.valid) {
          <div class="error-message">
            {{ errorMessage }}
          </div>
        }

        <div class="buttons">
          <button matButton="filled" type="submit" [disabled]="!registerForm.valid" (click)="registerHandler()">Create Your Account</button>
          <button matButton="outlined" (click)="registerWithGoogle()">
            <div class="google-btn-content">
              <img src="assets/icons/google-logo.svg" height="20" width="20" alt="Google icon" class="google-icon">
              <span>Continue with Google</span>
            </div>
          </button>
        </div>
      </form>
      <p class="login-link">Already have an account? <a class="highlight-text" href="/auth/login">Sign in</a></p>
    </div>
  </div>
</div>
