@import "main_palette";
@import "helpers";

$ellipse-size: pixel-to-rem(379);

.register {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  .background {
    position: relative;
    background-color: #050A24;
    width: 50%;
    user-select: none;
  }

  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: white;
    width: 50%;
  }

  .right-ellipse {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
    height: $ellipse-size;
    width: $ellipse-size;
    z-index: 0;
    border-radius: pixel-to-rem(379);
    background: #2D55FB;
    filter: blur(pixel-to-rem(275));
  }

  .left-ellipse {
    position: absolute;
    bottom: 0;
    height: $ellipse-size;
    width: $ellipse-size;
    z-index: 0;
    border-radius: pixel-to-rem(379);
    transform: translate(-10%, 70%);
    background: #2D55FB;
    filter: blur(pixel-to-rem(275));
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: pixel-to-rem(28);
    color: $primary-text;
    padding: pixel-to-rem(50);
  }

  .welcome {
    position: absolute;
    color: white;
    bottom: 0;
    padding: pixel-to-rem(50);
    font-family: Poppins LightItalic, sans-serif;
    font-size: pixel-to-rem(56);
  }

  .form-wrapper {
    width: 60%;

    .title {
      font-size: pixel-to-rem(28);
    }

    .register-form {
      display: flex;
      flex-direction: column;
      text-align: center;

      .name {
        display: flex;
        justify-content: space-between;

        mat-form-field {
          width: 48%;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: pixel-to-rem(12);
        margin-top: pixel-to-rem(14);

        button {
          height: pixel-to-rem(50);

          .google-btn-content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
          }
        }
      }

      .google-icon {
        padding-right: pixel-to-rem(10);
      }
    }
  }

  .login-link {
    text-align: center;
    color: $text-secondary;
    margin-top: pixel-to-rem(14);
    text-decoration: none;
    cursor: default;

    .highlight-text {
      font-weight: 600;
      color: $primary-text;
      text-decoration: none;
    }
  }

  .error-message {
    color: #d32f2f;
    font-weight: 500;
  }
}
