@import "main_palette";
@import "helpers";

.rides-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: pixel-to-rem(40);
    color: $text-tertiary;
  }

  .paragraph-text {
    font-size: pixel-to-rem(30);
    margin: pixel-to-rem(10);
    color: $text-secondary;
    font-weight: bold;
  }

  .description-text {
    margin: pixel-to-rem(0);
    color: $text-secondary;
  }

  .user-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: pixel-to-rem(20);
    text-decoration: none;
    color: $text-primary;
    border-radius: pixel-to-rem(99);
    margin-bottom: pixel-to-rem(10);
    padding: pixel-to-rem(10) pixel-to-rem(40) pixel-to-rem(10) pixel-to-rem(50);

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    .start {
      display: flex;
      gap: pixel-to-rem(20);
      align-items: center;
    }

    .end {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: pixel-to-rem(20);
    }

    .ride-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: pixel-to-rem(5);

      .from-to {
        display: flex;
        align-items: center;
        gap: pixel-to-rem(10);
        font-weight: 600;

        .point {
          display: flex;
          flex-direction: column;
          gap: pixel-to-rem(5);
        }

        p {
          margin: 0;
        }
      }
    }

  }

  .profile-picture {
    border-radius: pixel-to-rem(99);
  }

  .rides-wrapper {
    display: flex;
    width: 45%;
    flex-direction: column;
    font-size: pixel-to-rem(18);

    .rides {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: pixel-to-rem(20);
      gap: pixel-to-rem(10);
    }
  }
}

.text-emphasize {
  font-weight: 600;
}

.no-rides {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: pixel-to-rem(30);

  .text {
    width: 35%;
    .description-text {
      color: $text-primary;
      font-size: pixel-to-rem(18);
    }
  }
}

.text-emphasize {
  font-size: pixel-to-rem(20);
  font-weight: 600;
  color: $text-tertiary;
  margin: pixel-to-rem(0);
}
