@import "helpers";
@import "main_palette";

.ride-info-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: pixel-to-rem(0) pixel-to-rem(95) pixel-to-rem(0) pixel-to-rem(95);
  gap: pixel-to-rem(20);

  .date {
    font-size: pixel-to-rem(50);
    color: $text-primary;
  }

  .secondary-text {
    color: $text-secondary;
  }

  &__content {
    display: flex;
    gap: pixel-to-rem(20);
    justify-content: space-between;

    .row {
      display: flex;
      align-items: center;
      gap: pixel-to-rem(10);
      width: 100%;
      justify-content: center;
    }

    .duration {
      color: $text-secondary;
      font-weight: normal;
      font-size: pixel-to-rem(16);
      margin: 0;
    }

    .time,
    .location {
      white-space: nowrap;
    }

    .dot-with-line {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: pixel-to-rem(50);
      position: relative;

      .dot {
        width: pixel-to-rem(10);
        height: pixel-to-rem(10);
        border-radius: 50%;
        background-color: $primary-color;
      }

      .line {
        width: pixel-to-rem(2);
        flex-grow: 1;
        background-color: #ccc;
        margin-top: pixel-to-rem(2);
        margin-bottom: pixel-to-rem(2);
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      width: 55%;
      gap: pixel-to-rem(20);

      .from-to {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: pixel-to-rem(20);
        box-shadow: 0 pixel-to-rem(0) pixel-to-rem(6) pixel-to-rem(0) rgba(0, 0, 0, 0.1);
        font-size: pixel-to-rem(18);
        font-weight: bold;
        padding: pixel-to-rem(20);
        gap: pixel-to-rem(10);
      }

      .driver-info {
        display: flex;
        width: 100%;
        flex-direction: column;
        border-radius: pixel-to-rem(20);
        box-shadow: 0 pixel-to-rem(0) pixel-to-rem(6) pixel-to-rem(0) rgba(0, 0, 0, 0.1);
        font-size: pixel-to-rem(18);
        font-weight: bold;
        padding: pixel-to-rem(10) pixel-to-rem(20) pixel-to-rem(10) pixel-to-rem(20);
        gap: pixel-to-rem(20);

        .profile-picture {
          border-radius: pixel-to-rem(99);
        }

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: pixel-to-rem(20);
          text-decoration: none;
          color: black;
          border-radius: pixel-to-rem(99);
          padding: pixel-to-rem(10) pixel-to-rem(15) pixel-to-rem(10) pixel-to-rem(15);

          &:hover {
            background-color: rgba(0, 0, 0, 0.04);
          }

          .start {
            display: flex;
            align-items: center;
            gap: pixel-to-rem(20);

            .name {
              display: flex;
              flex-direction: column;
              gap: pixel-to-rem(5);

              p {
                margin: 0;
                padding: 0;
              }

              .user-rating {
                display: flex;
                align-items: center;
                gap: pixel-to-rem(1);
                color: $text-secondary;
              }
            }
          }

        }

        .chat-btn {
          width: 30%;
        }
      }
    }

    .right {
      width: 35%;

      .reservation-details {
        display: flex;
        flex-direction: column;
        border-radius: pixel-to-rem(20);
        box-shadow: 0 pixel-to-rem(0) pixel-to-rem(6) pixel-to-rem(0) rgba(0, 0, 0, 0.1);
        font-size: pixel-to-rem(18);
        font-weight: bold;
        padding: pixel-to-rem(0) pixel-to-rem(20) pixel-to-rem(0) pixel-to-rem(20);
        gap: pixel-to-rem(10);

        &__header {
          font-size: pixel-to-rem(25);
        }

        &__content {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }


}
