<div mat-dialog-title class="dialog-title">
  <h2>Edit ride details</h2>
  <button matIconButton (click)="onCloseClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="editRideForm" class="edit-ride-form" (submit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Starting point</mat-label>
        <input matInput formControlName="startingPoint" name="startingPoint" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Destination</mat-label>
        <input matInput formControlName="destination" name="destination" required />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input id="date" matInput [matDatepicker]="picker" [min]="minDate" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Start time</mat-label>
        <input
          matInput
          placeholder="11:00"
          formControlName="startTime"
          [matTimepicker]="starttimepicker"
          required
        >
        <mat-timepicker #starttimepicker/>
        <mat-timepicker-toggle [for]="starttimepicker" matSuffix/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End time</mat-label>
        <input
          matInput
          placeholder="15:00"
          formControlName="endTime"
          [matTimepicker]="endtimepicker"
          required
        >
        <mat-timepicker #endtimepicker/>
        <mat-timepicker-toggle [for]="endtimepicker" matSuffix/>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Max passengers</mat-label>
        <input matInput type="number" min="1" max="10" formControlName="maxPassengers" name="maxPassengers" required />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" min="1" max="999" step="0.01" formControlName="price" name="price" required />
      </mat-form-field>
    </div>
    <div class="button-section">
      <button mat-raised-button type="submit" [disabled]="!editRideForm.valid || !hasFormChanged">
        Save
      </button>
      <button mat-raised-button type="button" (click)="onFinish()">
        <span>Mark as finished</span>
        <mat-icon iconPositionEnd>sports_score</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>
