/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'main_palette';
@import "helpers";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.button-overrides((
  text-label-text-color: $primary-text,
  filled-container-color: $primary-color,
  outlined-label-text-color: $primary-color,
  outlined-outline-color: $outline-primary,
  protected-label-text-color: $primary-text,
  tonal-label-text-color: $primary-color
));

@include mat.divider-overrides((
  color: $border-primary,
));

@include mat.form-field-overrides((
  outlined-container-shape: var(--mat-sys-corner-extra-large),
  filled-container-shape: var(--mat-sys-corner-medium),
  filled-caret-color: $primary-color,
  outlined-caret-color: $primary-color,
  filled-focus-label-text-color: $primary-text,
  outlined-focus-outline-color: $primary-text,
  outlined-outline-color: $outline-secondary
));

@include mat.toolbar-overrides((
  container-background-color: white,
  container-text-color: black,
));

@include mat.datepicker-overrides((
  calendar-body-label-text-color: $primary-text,
  calendar-container-background-color: white,
  calendar-date-selected-state-background-color: $primary-color,
  calendar-container-elevation-shadow: 0 pixel-to-rem(0) pixel-to-rem(6) pixel-to-rem(0) rgba(0, 0, 0, 0.1),
  calendar-date-today-outline-color: $outline-primary
));

@include mat.menu-overrides((
  container-color: white,
  container-shape: var(--mat-sys-corner-medium),
  container-elevation-shadow: 0 pixel-to-rem(0) pixel-to-rem(6) pixel-to-rem(0) rgba(0, 0, 0, 0.1),
));

@include mat.snack-bar-overrides((
  supporting-text-color: white
));

// Manipulate initial background color
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

// Manipulate background color on hover and focus
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mdc-line-ripple {
  display: none
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: $primary-color !important;
}

@font-face {
  font-family: 'Poppins Italic';
  src: url("assets/fonts/Poppins-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins ThinItalic';
  src: url("assets/fonts/Poppins-ThinItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins LightItalic';
  src: url("assets/fonts/Poppins-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
  --mat-mdc-snack-bar-button-color: white !important;
}

.mat-simple-snackbar-action {
  color: white !important;
}

.success-snackbar {
  background-color: #61bb97;
}

.success-snackbar .mat-simple-snackbar-action {
  color: white !important;
}

.mat-simple-snackbar-action > button { color: white !important;}
