/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'main_palette';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.button-overrides((
  text-label-text-color: $primary-text,
  filled-container-color: $primary-color,
  outlined-label-text-color: $primary-color,
  outlined-outline-color: $outline-primary,
  protected-label-text-color: $primary-text,
  tonal-label-text-color: $primary-color
));

@include mat.divider-overrides((
  color: $border-primary,
));
