@import 'helpers';
@import 'main_palette';

.strong-text {
  font-size: pixel-to-rem(40);
}

.description-text {
  color: $light-primary-text;
}

.primary-text {
  color: $primary-text;
}

.features-container {
  display: flex;
  padding: pixel-to-rem(50);
}

.background {
  background-color: #1090CB1A;
}
