@import 'helpers';
@import 'main_palette';

.strong-text {
  font-size: pixel-to-rem(40);
}

.description-text {
  color: $light-primary-text;
}

.primary-text {
  color: $primary-text;
}

.features-container {
  display: flex;
}

.background {
  background-color: #1090CB1A;
}


.spacing {
  padding: pixel-to-rem(55);
}

.half-width {
  width: 40%;
}

.link-container {
  display: flex;
  margin-top: pixel-to-rem(40);
  gap: pixel-to-rem(15);
}
