@import 'helpers';
@import 'main_palette';

.strong-text {
  font-size: pixel-to-rem(40);
}

.description-text {
  color: $light-primary-text;
}

.primary-text {
  color: $primary-text;
}

.features-container {
  display: flex;
}

.background {
  background-color: #1090CB1A;
}


.spacing {
  padding: pixel-to-rem(95);
}

.width-40 {
  width: 40%;
}

.half-width {
  width: 50%;
}

.link-container {
  display: flex;
  margin-top: pixel-to-rem(40);
  gap: pixel-to-rem(15);
}

.about {
  text-align: center;
  margin-bottom: pixel-to-rem(55);
}

.showcase-container {
  display: flex;
  gap: pixel-to-rem(38);
  position: relative;
}

.rounded-img {
  position: relative;
  z-index: 2;
  border-radius: pixel-to-rem(20);
}

.subsection-title {
  color: $primary-text;
  font-size: pixel-to-rem(30);
  margin-bottom: 3.2rem;
}

.steps-list {
  width: 80%;

  .step {
    margin-bottom: 2rem;
  }
}

.purple-ellipse {
  position: absolute;
  bottom: pixel-to-rem(55);
  transform: translateX(50%);
  right: 0;
  width: 497px;
  height: 505px;
  border-radius: 505px;
  z-index: 0;
  background: radial-gradient(74.36% 74.47% at 50% 50%, #DED9FF 0%, rgba(255, 255, 255, 0.00) 100%);
  pointer-events: none;
}

.yellow-ellipse {
  position: absolute;
  bottom: pixel-to-rem(120);
  transform: translateX(-50%);
  left: 0;
  width: 497px;
  height: 505px;
  border-radius: 505px;
  z-index: 0;
  background: radial-gradient(74.36% 74.47% at 50% 50%, #F3FFD9 0%, rgba(255, 255, 255, 0.00) 100%);
  pointer-events: none;
}

.red-ellipse {
  position: absolute;
  top: pixel-to-rem(70);
  transform: translateX(5%);
  right: 0;
  width: 497px;
  height: 505px;
  border-radius: 505px;
  z-index: 0;
  background: radial-gradient(74.36% 74.47% at 50% 50%, #FFD9EB 0%, rgba(255, 255, 255, 0.00) 100%);
  pointer-events: none;
}

main {
  overflow-x: hidden;
  overflow-y: hidden;
}

.steps-background-svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 95vw;
  height: auto;
  max-width: none;
  z-index: 1;
  top: pixel-to-rem(1250);
  pointer-events: none;
}

.app-store-section {
  display: flex;
  justify-content: center;
  padding-top: pixel-to-rem(150);
}

.app-store-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-store-container {
  position: relative;
  z-index: 2;
  display: flex;
  font-size: pixel-to-rem(30);
  flex-direction: column;
  text-align: center;
  width: 52%;
  color: white;
  border-radius: pixel-to-rem(20);
  background-color: $primary-color;
  justify-content: center;
  align-items: center;

  .title {
    margin-top: pixel-to-rem(64);
  }

  .description-text {

  }

  .button-container {
    display: flex;
    gap: pixel-to-rem(10);
    margin-bottom: pixel-to-rem(50);
  }
}

.bell-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  z-index: 2;
  pointer-events: none;
}
