<form [formGroup]="searchForm" class="ride-search-form">
  <mat-form-field appearance="outline">
    <mat-label>Starting point</mat-label>
    <input id="starting_point" matInput placeholder="Where is your starting point?" [formControlName]="'startingPoint'">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Destination</mat-label>
    <input id="destination" matInput placeholder="Where do you want to go?" [formControlName]="'destination'">
  </mat-form-field>
  <button [disabled]="!searchForm.valid" type="submit" mat-flat-button (click)="searchRides()">
    SEARCH <mat-icon>search</mat-icon>
  </button>
</form>
